body{
    background-color: sandybrown;
}
.pizzas-pages{
    div{
        h2{
            font-size: 60px;
        }
        h3{
            font-size: 40px;
        }
        p{
            font-size: 30px;
        }
    }
}